.themedArea a {
  position: relative;
}

.themedArea strong,
.themedArea b {
  font-weight: bold;
}

.themedArea em,
.themedArea i {
  font-style: italic;
}

.themedArea pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.themedArea {
  text-align: center;
  padding: 20px 0px 0px;
  line-height: 1.2em;
  font-weight: normal;
}

.innerBg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slideContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1024px;
  height: 768px;
}

.innerBg {
  -webkit-transition: background-color .8s ease;
  -moz-transition: background-color .8s ease;
  -ms-transition: background-color .8s ease;
  -o-transition: background-color .8s ease;
  transition: background-color .8s ease;
}
