html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "BunnigrrrlshandwritingYOFFRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
details, footer, header, menu, nav {
    display: block;
}

body {
    line-height: 1;
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.
    
    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?
    
    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    font-family: "BunnigrrrlshandwritingYOFFRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.
    
    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

.impress-enabled .overview .step {
    opacity: 1;
    /*cursor:pointer;*/
}

/*
    ... and we enhance the styles for impress.js.
    
    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.slideContainer {
    -webkit-transition: width .5s, height .5s;
    -moz-transition:    width .5s, height .5s;
    -ms-transition:     width .5s, height .5s;
    -o-transition:      width .5s, height .5s;
    transition:         width .5s, height .5s;
}

.impress-enabled .step.active { opacity: 1 }
.step:not(.active) { cursor:pointer  }
.step:not(.active):hover:after {
	border: 1px solid #fc0;
	padding: 3px 6px;
	/*background: #fffea1;*/
    color: whitesmoke;
    background: #232323;
    border-color: whitesmoke;
	content: attr(data-title);
    text-align: center;
    position: absolute;
	right: 426px;
    bottom: -1em;
    transform: scale(6);
    width: 158px;
}
