html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "WarugakiRegular";
  font-size: 19px;
  line-height: 1.4;
  color: #363636;
  background-color: #000000;
  letter-spacing: 1px;
}

@font-face {
  font-family: 'WarugakiRegular';
  src: url('http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.eot');
  src: url('http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.woff') format('woff'),
  url('http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.ttf') format('truetype'),
  url('http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.svg#WarugakiRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BunnigrrrlshandwritingYOFFRg';
  src: url('http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.eot');
  src: url('http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.woff') format('woff'),
  url('http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.ttf') format('truetype'),
  url('http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.svg#BunnigrrrlshandwritingYOFFRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background: #e5e5e5 url('../bgWood.jpg');
}
