html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "WarugakiRegular";
  font-size: 19px;
  color: #363636;
  background-color: #000000;
}

@font-face {
  font-family: 'WarugakiRegular';
  src: url('https://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.eot');
  src: url('https://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.woff') format('woff'),
  url('https://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.ttf') format('truetype'),
  url('https://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.svg#WarugakiRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BunnigrrrlshandwritingYOFFRg';
  src: url('https://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.eot');
  src: url('https://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.woff') format('woff'),
  url('https://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.ttf') format('truetype'),
  url('https://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.svg#BunnigrrrlshandwritingYOFFRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #e5e5e5 url('../bgWood.jpg');
}

.bg-custom-3ea2dd {
  background: #3ea2dd;
}

.slideContainer {
  background-color: #C0C0C0;
  background-size: cover;
}

.nav {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.invert {
  transition: -webkit-filter .5s, filter .5s;
  filter: invert(0);
  -webkit-filter: invert(0);
  -moz-filter: invert(0);
  -o-filter: invert(0);
  -ms-filter: invert(0);
}

img.invert:hover {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
}

.float-left {
  float: left
}

.float-right {
  float: right
}

.reveal.themedArea {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: auto;
  width: 100%;
  height: 100%;
}

.componentContainer {
  position: absolute;
  line-height: normal;
  /*-webkit-transform-origin: 135% 135%;
    -moz-transform-origin: 135% 135%;
    transform-origin: 135% 135%;*/
}

.transformContainer {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

.bg {
  width: 100%;
  height: 100%;
}