article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

[hidden] {
  display: none;
}

.clearfix {
  *zoom: 1;
}

@media print {}

body {
  margin: 0;
  font-family: "BunnigrrrlshandwritingYOFFRg",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: #363636;
  background-color: #000000;
  letter-spacing: 1px;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}

@font-face {
  font-family: 'WarugakiRegular';
  src: url('../lib/../../fonts/warugaki-webfont.eot');
  src: url('../lib/../../fonts/warugaki-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/../../fonts/warugaki-webfont.woff') format('woff'), url('../lib/../../fonts/warugaki-webfont.ttf') format('truetype'), url('../lib/../../fonts/warugaki-webfont.svg#WarugakiRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}

.collapse.in {
  height: auto;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

#flashContentWrap {
  position: relative;
  top: 0px;
}

.bold {
  font-weight: bold;
}

.red {
  color: #aa3939;
}

.center_text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@font-face {
  font-family: 'HelveticaNeueBlackCondensed';
  src: url('../../fonts/HelveticaNeueLTPro-BlkCn.ttf') format('truetype'), url('../../fonts/HelveticaNeueLTPro-BlkCn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background: #e5e5e5 url(http://beta2.pagie.net/assets/menu/backgrounds/1024/paper9.jpg);
}

.btn_nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 0;
  text-align: center;
  display: block;
  float: left;
  /*
  vertical-align: middle;
  height:52px;
  */
  
  text-transform: uppercase;
  padding-top: 15px;
  height: 53px;
  width: 102px;
  overflow: hidden;
  color: #000000;
  font-family: "HelveticaNeueBlackCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
  font-size: 19px;
  line-height: 0.9;
  background: transparent url(../../img/btn_nav_sprite.png) no-repeat 0 0px;
  cursor: pointer;
  position: relative;
  *zoom: 1;
}
