@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(Lato-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: local('Hammersmith One'), local('HammersmithOne'), url(HammersmithOne.woff) format('woff');
}
@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-weight: 400;
  src: local('Gorditas'), local('Gorditas-Regular'), url(Gorditas-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(FredokaOne-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(Ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(Ubuntu-Bold.woff) format('woff');
}
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(PressStart2P-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(Lato-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(AbrilFatface-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(Lato-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Sans Mono'), local('Droid-Sans-Mono'), url(Droid-Sans-Mono.woff) format('woff');
}





@font-face {
  font-family: 'BunnigrrrlshandwritingYOFFRg';
  src: url("http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.eot");
  src: url("http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.eot?#iefix") format('embedded-opentype'), url("http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.woff") format('woff'), url("http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.ttf") format('truetype'), url("http://www.psykopaint.com/lab/html5/fonts/bunnigirlshandyoff-webfont.svg#BunnigrrrlshandwritingYOFFRg") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WarugakiRegular';
  src: url("http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.eot");
  src: url("http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.eot?#iefix") format('embedded-opentype'), url("http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.woff") format('woff'), url("http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.ttf") format('truetype'), url("http://www.psykopaint.com/lab/html5/fonts/warugaki-webfont.svg#WarugakiRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
